#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 65%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.hi{
    overflow-x:auto;
}
tr:nth-child(even){background-color: #f2f2f2}
table * {
    position: relative;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
}
table tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}
@media screen and (max-width: 35.5em) {
    table {
        display: block;
   }
    table > *, table tr, table td, table th {
        display: block;
   }
    table thead {
        display: none;
   }
    table tbody tr {
        height: auto;
        padding: 8px 0;
   }
    table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
   }
    table tbody tr td:last-child {
        margin-bottom: 0;
   }
    table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 100%;
        left: 10px;
        top: 0;
   }
    table tbody tr td:nth-child(1):before {
        content: "User Profile";
   }
    table tbody tr td:nth-child(2):before {
        content: "";
   }
    table tbody tr td:nth-child(3):before {
        content: "";
   }
    table tbody tr td:nth-child(4):before {
        content: "";
   }
    table tbody tr td:nth-child(5):before {
        content: "Box Type";
   }
}
body {
    background: white;
    font: 400 14px 'Calibri', 'Arial';
    padding: 20px;
}
blockquote {
    color: white;
    text-align: center;
}


.imager{
    display: flex;
    justify-content: center;
    
}

.fix{
    border-radius :50% !important;
  }
 

.grid-sys{
    justify-content: center!important;
}

.searchbar{
    padding: 0 100px;
}
